

.mainContainer{
    /* min-width: var(--size-1); */
    display: flex;
    flex-direction: column;
}

.title{
    font-size: var(--font-size-h5);
}

.description{
    color: var(--color-neutral-muted);
}

.content{
    font-weight: bold;
}