.mainContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--font-size-p);
  font-weight: bold;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-1);

}

.content > h4 {
    font-size: var(--font-size-h4);
}

.footer {
    color: var(--color-neutral-muted);
    font-size: var(--font-size-small);
}

.errorText {
    color: var(--color-error-main);
}

.successText {
    color: var(--color-success-main);
}

.infoText {
    color: var(--color-info-main);
}

.warningText {
    color: var(--color-warning-main);
}
