.tableContainer > div {
  height: var(--size-3);
  border: 1px solid var(--color-neutral-border);
  border-radius: var(--border-radius);
}

.tableHeader {
  background-color: var(--color-neutral-bg);
}


.tableRow {
  background-color: var(--color-neutral-bg);
  position: sticky;
  top: 0;
  /* border: 1px solid var(--color-neutral-border); */
  border-radius: var(--border-radius);
}

/* .caption{
  margin-top: var(--spacing-1);
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--color-neutral-muted);
} */