$variants: neutral, success, error, warning, info;

.#{$variants} {
  border-radius: var(--border-radius);
  background: var(--color-neutral-bg);
}

@each $v in $variants {
  .#{$v} {
    border: 1px solid var(--color-#{$v}-border);
  }
}