.mainContainer {
  margin: calc(var(--spacing-5)*2);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

.infoBoxesContainer,
.analyticsContainer,
.budgetsContainer {
  display: flex;
  gap: var(--spacing-5);
  flex-wrap: wrap;
  > div {
    flex: 1;
  }
}

.budgetsContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-5);
}

.infoBoxesContainer > div{
  min-width: var(--size-1);
}

.analyticsContainer > div {
  min-width: var(--size-2);
}

@media (max-width: 1199px) {
  .mainContainer{
    margin: var(--spacing-2);
  }
}