.mainContainer {
  margin: calc(var(--spacing-5)*2);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

.infoBoxesContainer,
.analyticsContainer,
.budgetsContainer {
  display: flex;
  gap: var(--spacing-5);
  flex-wrap: wrap;

  > div {
    flex: 1;
  }
}

.infoBoxesContainer > div{
  min-width: var(--size-1);
}

.analyticsContainer > div {
  min-width: var(--size-2);
}


.budgetsContainer > div {
  min-width: 40%;
}

@media (max-width: 1199px) {
  .budgetsContainer > div {
    min-width: 100%;
  }
}