:root {
  /* WHEN ADDING NEW VARIABLES, CHECK FOR CONFLICTS WITH SHADCN VARIABLES IN index.css */
  font-family: Avenir, Helvetica, Arial, sans-serif;
  /* lexend font */

  background: var(--color-neutral-bg-0);
  font-size: var(--font-size-p);

  color: var(--color-neutral-950);

  /* VARIABLES */
  /* Neutral */

  /* --color-neutral-50: oklch(0.98 0 0);
  --color-neutral-100: oklch(0.944 0 0);
  --color-neutral-200: oklch(0.886 0 0);
  --color-neutral-300: oklch(0.801 0 0);
  --color-neutral-400: oklch(0.707 0 0);
  --color-neutral-500: oklch(0.613 0 0);
  --color-neutral-600: oklch(0.553 0 0);
  --color-neutral-700: oklch(0.532 0 0);
  --color-neutral-800: oklch(0.454 0 0);
  --color-neutral-900: oklch(0.408 0 0);
  --color-neutral-950: oklch(0.298 0 0); */

  --color-neutral-bg-0: oklch(0.95 0 0);
  --color-neutral-bg: oklch(0.98 0 0);
  --color-neutral-main: oklch(0.05 0 0);
  --color-neutral-muted: oklch(0.6 0 0);
  --color-neutral-border: oklch(0.87 0 0);

  /* brand */
  --main-hue: 286;
  --color-main-50: oklch(0.969 0.018 var(--main-hue));
  --color-main-100: oklch(0.944 0.032 var(--main-hue));
  --color-main-200: oklch(0.886 0.069 var(--main-hue));
  --color-main-300: oklch(0.801 0.128 var(--main-hue));
  --color-main-400: oklch(0.707 0.194 var(--main-hue));
  --color-main-500: oklch(0.613 0.257 var(--main-hue));
  --color-main-600: oklch(0.553 0.284 var(--main-hue));
  --color-main-700: oklch(0.532 0.282 var(--main-hue));
  --color-main-800: oklch(0.454 0.264 var(--main-hue));
  --color-main-900: oklch(0.408 0.242 var(--main-hue));
  --color-main-950: oklch(0.298 0.209 var(--main-hue));

  /* Success */
  --success-hue: 145;
  --color-success-50: oklch(0.969 0.018 var(--success-hue));
  --color-success-100: oklch(0.944 0.032 var(--success-hue));
  --color-success-200: oklch(0.886 0.069 var(--success-hue));
  --color-success-300: oklch(0.801 0.128 var(--success-hue));
  --color-success-400: oklch(0.707 0.194 var(--success-hue));
  --color-success-500: oklch(0.613 0.257 var(--success-hue));
  --color-success-600: oklch(0.553 0.284 var(--success-hue));
  --color-success-700: oklch(0.532 0.282 var(--success-hue));
  --color-success-800: oklch(0.454 0.264 var(--success-hue));
  --color-success-900: oklch(0.408 0.242 var(--success-hue));
  --color-success-950: oklch(0.298 0.209 var(--success-hue));

  --color-success-bg: var(--color-success-50);
  --color-success-main: var(--color-success-400);
  --color-success-muted: var(--color-success-300);
  --color-success-border: var(--color-success-200);

  /* Error */
  --error-hue: 30;
  --color-error-50: oklch(0.969 0.018 var(--error-hue));
  --color-error-100: oklch(0.944 0.032 var(--error-hue));
  --color-error-200: oklch(0.886 0.069 var(--error-hue));
  --color-error-300: oklch(0.801 0.128 var(--error-hue));
  --color-error-400: oklch(0.707 0.194 var(--error-hue));
  --color-error-500: oklch(0.613 0.257 var(--error-hue));
  --color-error-600: oklch(0.553 0.284 var(--error-hue));
  --color-error-700: oklch(0.532 0.282 var(--error-hue));
  --color-error-800: oklch(0.454 0.264 var(--error-hue));
  --color-error-900: oklch(0.408 0.242 var(--error-hue));
  --color-error-950: oklch(0.298 0.209 var(--error-hue));

  --color-error-bg: var(--color-error-50);
  --color-error-main: var(--color-error-400);
  --color-error-muted: var(--color-error-300);
  --color-error-border: var(--color-error-200);

  /* Warning */
  --warning-hue: 80;
  --color-warning-50: oklch(0.97 0.04 var(--warning-hue));
  --color-warning-100: oklch(0.95 0.07 var(--warning-hue));
  --color-warning-200: oklch(0.9 0.1 var(--warning-hue));
  --color-warning-300: oklch(0.85 0.12 var(--warning-hue));
  --color-warning-400: oklch(0.84 0.14 var(--warning-hue));
  --color-warning-500: oklch(0.72 0.16 var(--warning-hue));
  --color-warning-600: oklch(0.66 0.15 var(--warning-hue));
  --color-warning-700: oklch(0.6 0.13 var(--warning-hue));
  --color-warning-800: oklch(0.54 0.1 var(--warning-hue));
  --color-warning-900: oklch(0.48 0.08 var(--warning-hue));
  --color-warning-950: oklch(0.42 0.06 var(--warning-hue));

  --color-warning-bg: var(--color-warning-50);
  --color-warning-main: var(--color-warning-400);
  --color-warning-muted: var(--color-warning-300);
  --color-warning-border: var(--color-warning-200);

  /* Info */
  --info-hue: 240;
  --color-info-50: oklch(0.969 0.018 var(--info-hue));
  --color-info-100: oklch(0.944 0.032 var(--info-hue));
  --color-info-200: oklch(0.886 0.069 var(--info-hue));
  --color-info-300: oklch(0.801 0.128 var(--info-hue));
  --color-info-400: oklch(0.707 0.194 var(--info-hue));
  --color-info-500: oklch(0.613 0.257 var(--info-hue));
  --color-info-600: oklch(0.553 0.284 var(--info-hue));
  --color-info-700: oklch(0.532 0.282 var(--info-hue));
  --color-info-800: oklch(0.454 0.264 var(--info-hue));
  --color-info-900: oklch(0.408 0.242 var(--info-hue));
  --color-info-950: oklch(0.298 0.209 var(--info-hue));

  --color-info-bg: var(--color-info-50);
  --color-info-main: var(--color-info-400);
  --color-info-muted: var(--color-info-300);
  --color-info-border: var(--color-info-200);

  --border-radius: 8px;
  --time-transition: 0.2s;

  --font-size-base: 16px;
  --scaler: 1.2;
  /* --scaler: 1.250; */
  /* --scaler: 1.333; */

  /* TESTA SÅ DESSA STÄMMER */
  --font-size-small: calc(var(--font-size-p) / var(--scaler));
  --font-size-p: var(--font-size-base);
  --font-size-h6: calc(var(--font-size-base) * var(--scaler));
  --font-size-h5: calc(var(--font-size-h6) * var(--scaler));
  --font-size-h4: calc(var(--font-size-h5) * var(--scaler));
  --font-size-h3: calc(var(--font-size-h4) * var(--scaler));
  --font-size-h2: calc(var(--font-size-h3) * var(--scaler));
  --font-size-h1: calc(var(--font-size-h2) * var(--scaler));

  --spacing-1: 10px;
  --spacing-2: 20px;
  --spacing-3: 30px;
  --spacing-4: 40px;
  --spacing-5: 50px;
  --spacing-6: 60px;
  --spacing-7: 70px;
  --spacing-8: 80px;
  --spacing-9: 90px;
  --spacing-10: 100px;

  --size-1: 150px;
  --size-2: calc(var(--size-1) * 2);
  --size-3: calc(var(--size-1) * 4);
  --size-4: calc(var(--size-1) * 8);
  --size-5: calc(var(--size-1) * 12);
}
