.mainContainer {
  border-color: var(--color-neutral-border);
  background-color: var(--color-neutral-bg);
  min-width: 500px;
  max-width: var(--size-4);
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-h6);
}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: var(--font-size-p);
}

.firstInfo {
  padding-right: var(--spacing-2);
  border-right: 1px solid var(--color-neutral-border);
}

.info {
  padding-right: var(--spacing-2);
  padding-left: var(--spacing-2);
  border-right: 1px solid var(--color-neutral-border);
}

.lastInfo {
  padding-left: var(--spacing-2);
}

.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressContainer > h3{
  font-size: var(--font-size-h4);
}

.progressContainer > p{
  margin-bottom: var(--spacing-1);
  font-size: var(--font-size-small);
  color: var(--color-neutral-muted);
}



@media (max-width: 500px) {
  .mainContainer {
    min-width: auto;
  }
}