

.mainContainer {
    background-color: var(--color-neutral-bg);
    border: 1px solid var(--color-neutral-border);
    border-radius: var(--border-radius);
    padding: var(--spacing-2);
    display: flex;
    flex-direction: column;
}