.mainContainer {
  border-color: var(--color-neutral-border);
  background-color: var(--color-neutral-bg);
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-h5);
}

.infoContainer {
  display: flex;
  flex-direction: row;
}

.firstInfo {
  padding-right: var(--spacing-2);
  border-right: 1px solid var(--color-neutral-border);
}

.info {
  padding-right: var(--spacing-2);
  padding-left: var(--spacing-2);
  border-right: 1px solid var(--color-neutral-border);
}

.lastInfo {
  padding-left: var(--spacing-2);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  margin-left: var(--spacing-2);
  margin-right: var(--spacing-2);
}

.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressContainer > h3{
  font-size: var(--font-size-h3);
}

.progressContainer > p{
  margin-bottom: var(--spacing-1);
  font-size: var(--font-size-p);
  color: var(--color-neutral-muted);
}